@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin      : 0;
    padding     : 0;
    box-sizing: border-box;
}

:root{
    --Soft-blue : hsl(215, 51%, 70%);
    --Cyan      : hsl(178, 100%, 50%);
    --main-BG   : hsl(217, 54%, 11%);
    --card-BG   : hsl(216, 50%, 16%);
    --line      : hsl(215, 32%, 27%);
    --White     : hsl(0, 0%, 100%);
}

body{
    width: 100%;
    height: 100vh;
    font-family : "Outfit" , sans-serif;
    font-size   :18px;
    background-color: var(--main-BG);
    color: hsl(215, 51%, 70%,95%);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    
    background-color: var(--card-BG);
    border-radius: 15px;
    width:375px;
    padding: 1.5rem;
    
}
.image{
    position: relative;
}

.image div{
    position: absolute;
    background-color: hsl(178, 100%, 50%,61%);
    top:0;
    width: 100%;
    height: calc(100% - 4px);
    opacity:0 ;
    transition:0.3s ease-in-out;
}

.image div:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
}
.image div img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.equillibrium{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
h2{
    font-weight: 600;
    color: var(--White);
    margin-top:1.5rem;
    font-size: 20px;
}



.description{
    margin:0.6rem 0 1rem 0;
    line-height: 28px; 
    
}

.eth-time{
    
    border-bottom: 1px solid var(--Soft-blue);
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    
}
.eth{
    color:var(--Cyan);
    letter-spacing: 1px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 400;
}
.icon-ethereum{
    margin-right:3px;
}
.time{
    
    display: flex;
    align-items: center;
    font-size: 14px;
}
.icon-clock{
    margin-right: 1px;
}

.attribution{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-size: 15.2px;
}
.avatar{
    border: 1px solid white;
    border-radius:100px;
    margin: 2px;
    margin-right: 1.1rem;
    width: 33px;
}

.attribution a{
    text-decoration: none;
    margin-left:6px;
    color:var(--White);
}

.equillibrium:hover , h2:hover , a:hover {
    cursor: pointer;
    color:var(--Cyan)
}

